In [3]:
import numpy as np

In [6]:
#1
arr = np.arange(9)
result = np.sort(arr)[::-1]
print(result)

[8 7 6 5 4 3 2 1 0]

In [7]:
#2
result = np.diag(np.arange(9), k=0).sum()
print(result)

36

In [14]:
import pandas as pd

In [15]:
#3
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
data2 = pd.read_csv('movies.csv')
data2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
res = data.merge(data2,'left',on = 'movieId')
res.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [18]:
res[res.rating == 5].title.value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

In [23]:
#4
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [24]:
categ = data.query('category == 4 or category == 12 or category == 21')
ye = categ.query('2005 <= year <= 2010')
quan = ye.query('quantity > 0')
quan.quantity.sum()

5080225680.690746

In [26]:
import numpy as np
from numpy import linalg

In [28]:
#5
left = np.array( [[4, 2, 1], [1, 3, 0], [0, 5, 4]] )
right = np.array( [4, 12, -3] )
linalg.solve(left, right)

array([ 0.46666667,  3.84444444, -5.55555556])